@import url("css/theme.css");

.wy-side-nav-search{
    background: -webkit-linear-gradient(left, #feffd3 , #fefafa);
    background: -o-linear-gradient(right, #feffd3, #fefafa);
    background: -moz-linear-gradient(right, #feffd3, #fefafa);
    background: linear-gradient(to right, #feffd3 , #fefafa);
}

.wy-side-nav-search>a, .wy-side-nav-search>div.version { color:black}

.wy-nav-side {
    background: #272027
}

.wy-nav-content-wrap {
    background: #fefafa;
}

#download_files {
    text-align: center;
    margin: 10px 0 10px 0;
}
